<div class="container-fluid">
	<div class="row">
		
		<ul class="nav nav-pills col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
  		<li role="presentation" id="nav-animals" class="active col-lg-4 col-md-3 col-xs-12"><a href="#">Animals</a></li>
  		<li role="presentation" id="nav-house" class="col-lg-4 col-md-3 col-xs-12"><a href="#">House</a></li>
		</ul>
		
	</div>
</div>


<div class="container-fluid">
	<div class="row">

		<div class="col-lg-6 col-md-12 col-lg-offset-3 animals">

			<h1>Animals</h1>

			<h2>Dogs</h2>

			<h3>Food</h3>
			<ol>
				<li>Elsa gets carrots and one cup of food.</li>
				<li>Rosie get two cups of food (+ one pee pee pill in the morning and half pee pee pill in the evening).  Break the pee pee pill into quarters or Rosie will not eat the pill.</li>
				<li>Feed them any table scraps you feel fit.  Rosie loves apple cores.</li>
				<li>Make them both sit before letting them eat.  You can let them sit for as long as you want, but Elsa gets to eat first.</li>
				<li>Rosie usually has to go outside after she eats.  Elsa may not.</li>
			</ol>

			<h3>Outside</h3>
			<ol>
				<li>If you need to see if they want to go outside, just say "outside".  Whoever wants to go outside will let you know.</li>
				<li>Rosie eats shit!  Don't let her stay out too long because she'll eat all the shit.</li>
				<li>Put on Elsa's e-collar.  There are extra batteries if needed in the top middle drawer of the desk in the kitchen.  When you take the collar off, take if off of Elsa before you turn it off.  Sometimes the thing starts beeping when you turn it off and Elsa might get zapped.</li>
				<li>Elsa has a light attached to her collar for when she goes out at night.</li>
				<li>Elsa will escape to the front of the house if the ground is not frozen.  The light will help you find her.</li>
				<li>Elsa goes outside and comes inside before Rosie.  Make them sit if you can.  Say "Sit.  Elsa, OK.  Rosie, OK."</li>
				<li>Elsa will bark when she wants to come in.  Usually, Rosie will just follow Elsa.</li>
			</ol>

			<h3>Inside</h3>
			<ol>
				<li>Elsa and Rosie are allowed in the family room whenever you please.</li>
				<li>If you get tired of them, put them in the kitchen and close the gates.  They'll just go to sleep.</li>
				<li>The dogs will eat the cat food if let upstairs.  Elsa will also eat the cat poop.</li>
			</ol>

			<h3>Bed time</h3>
			<ol>
				<li>If Rosie is looking at the door or looking/nosing at you then running to the kitchen/door she needs to go outside.  Rosie has to go outside more than Elsa.  Just say "outside" and whoever wants to go outside will run to the door.</li>
				<li>Rosie sleeps in the crate.</li>
				<li>Elsa sleeps in the kitchen in her bed.  Or sometimes, if she's super zonked, we'll let her sleep in her cat bed in the family room.  That's fine, just make sure you close the downstairs bedroom door because she will climb into that bed to sleep.</li>
			</ol>

			<h3>Morning</h3>
			<ol>
				<li>They usually fuck around outside in the morning after breakfast.</li>
				<li>Elsa will bark when she wants to come in.</li>
			</ol>

			<h2>Cats</h2>

			<h3>Food</h3>
			<ol>
				<li>The food is in the closet at the top of the stairs.  Just fill up their bowls when they're low.</li>
				<li>Water bowls should be changed once every other day.</li>
				<li>If Phebe is meowing incessantly, then she probably wants food.</li>
				<li>Rambo has wet food in the refrigerator.  She will also meow incessantly when she wants the wet food.  Usually, in the morning and the evening.</li>
				<li>Don't let Phebe eat Rambo's wet food.  She will eat it all and it's very caloric.</li>
			</ol>	

			<h3>Litter</h3>
			<ol>
				<li>Please scoop the litter at least once a week.  There is one litter box upstairs and two litter boxes in the unfinished part of the basement.  You can use the plastic bags in the sun room.  You should probably double bag it.</li>
			</ol>

			<h2>Miscellaneous</h2>
			<ol>
				<li>The cats roam everywhere - counters, tables, on people.  They are wild animals and basically we cannot control them.  They do as they please.</li>
				<li>Put the lids down on all the toilets.  The cats like to go fishing and the dogs like to drink the water.</li>
				<li>The Shun knives cannot go in the dishwasher.</li>
			</ol>

			<h2>Thoughts</h2>
			<ol>
				<li>Be a strong leader with the dogs.  Don't be afraid to discipline them.  If you're not a strong leader, one of them will try to be the leader and shit will go down between them.</li>
				<li>Elsa gets everything first; she gets fed first, she gets let out first, she gets treats first.</li>
				<li>The cats will want to sleep with you, so leave your door open.</li>
			</ol>

			<div class="bg-danger">
				<h2>Emergency</h2>
		  	<ol>
					<li>Malta Animal Hospital, number - (518) 885-2550.</li>
				</ol>
			</div>

		</div>

		<div class="col-lg-6 col-md-12 col-lg-offset-3 house">

			<h1>House</h1>

			<h2>Utilities</h2>
			<ol>
				<li>We have a water filter in the basement.  If the water pressure get low, try changing the filter on the left (catches big particles) first, then change the filter on the right (catches small particles).</li>
				<li>The filter on the right gets installed with the holes at the bottom.</li>
				<li>The dish washer soap is in the bottom left cabinet next to the dishwasher.</li>
			</ol>

			<h2>Beer</h2>
			<ol>
				<li>There is plenty of beer in the fridge.  Drink up some of those Labatts if you like.  If you kick the kegerator (right faucet), just go to the store and get more beer.  There are a bunch of 1/6 kegs in stock.  You can put it on my account.</li>
			</ol>

			<h2>Miscellaneous</h2>
			<ol>
				<li>Garbage day is Wednesday.</li>
				<li>Don't drink the wine on the top shelf.</li>
				<li>Please bring in the mail.</li>
				<li>The wifi password is Okinaga1.</li>
			</ol>

		</div>

	</div><!-- /.row -->
</div><!-- /.container-fluid -->



