<div class="container-fluid">
	<div class="row">

		<h1 class="col-md-12">Animals</h1>

		<h2"col-md-12 col-lg-6">Dogs</h2>

		<h3"col-md-12 col-lg-6">Food</h3>
		<ol>
			<li>Elsa gets carrots and one cup of food.</li>
			<li>Rosie get two cups of food (+ one pee pee pill in the morning and half pee pee pill in the evening).</li>
			<li>Feed them any table scraps you feel fit.  Rosie loves apple cores.</li>
			<li>Rosie usually has to go outside after she eats.  Elsa may not.</li>
		</ol>

		<h3"col-md-12 col-lg-6">Outside</h3>
		<ol>
			<li>If you need to see if they want to go outside, just say "outside".  Whoever wants to go outside will let you know.</li>
			<li>Rosie eats shit!  Don't let her stay out too long because she'll eat all the shit.</li>
			<li>Put on Elsa's e-collar.  There are extra batteries if needed in the top middle drawer of the desk in the kitchen.  When you take the collar off, take if off of Elsa before you turn it off.  Sometimes the thing starts beeping when you turn it off and Elsa might get zapped.</li>
			<li>Elsa has a light attached to her collar for when she goes out at night.</li>
			<li>Elsa will escape to the front of the house if the ground is not frozen.  The light will help you find her.</li>
			<li>Elsa goes outside and comes inside before Rosie.  Make them sit if you can.  Say "Sit.  Elsa, OK.  Rosie, OK."</li>
			<li>Elsa will bark when she wants to come in.  Usually, Rosie will just follow Elsa.</li>
		</ol>

		<h3"col-md-12 col-lg-6">Inside</h3>
		<ol>
			<li>Elsa and Rosie are allowed in the family room whenever you please.</li>
			<li>If you get tired of them, put them in the kitchen and close the gates.  They'll just go to sleep.</li>
		</ol>

		<h3"col-md-12 col-lg-6">Bed time</h3>
		<ol>
			<li>If Rosie is looking at the door or looking/nosing at you then running to the kitchen/door she needs to go outside.  Rosie has to go outside more than Elsa.  Just say "outside" and whoever wants to go outside will run to the door.</li>
			<li>Rosie goes in the crate.</li>
			<li>Elsa sleeps in the kitchen in her bed.</li>
		</ol>

		<h3"col-md-12 col-lg-6">Morning</h3>
		<ol>
			<li>They usually fuck around outside in the morning after breakfast.</li>
			<li>Elsa will bark when she wants to come in.</li>
		</ol>

		<h2"col-md-12 col-lg-6">Cats</h2>

		<h3"col-md-12 col-lg-6">Food</h3>
		<ol>
			<li>The food is in the closet at the top of the stairs.  Just fill up their bowls when they're low.</li>
			<li>If Phebe is meowing incessantly, then she probably wants food.</li>
			<li>Rambo has wet food in the refrigerator.  She will also meow incessantly when she wants the wet food.  Usually, in the morning and the evening.</li>
		</ol>	

		<h3"col-md-12 col-lg-6">Litter</h3>
		<ol>
			<li>You can scoop it if you want.  Maybe once a week</li>
		</ol>

		<h3"col-md-12 col-lg-6">Miscellaneous</h3>
		<ol>
			<li>The cats roam everywhere - counters, tables, on people.  They are wild animals and basically we cannot control them.  They do as they please.</li>
		</ol>

		<h2"col-md-12 col-lg-6">Thoughts</h2>
		<ol>
			<li>Be a strong leader with the dogs.  Don't be afraid to discipline them.  If you're not a strong leader one of them will try to be the leader and shit will go down between them.</li>
			<li>The cats will want to sleep with you, so leave your door open.</li>
		</ol>

		<h2"col-md-12 col-lg-6">Emergency</h2>
		<ol>
			<li>Malta Animal Hospictal, number - (518) 885-2550.</li>
		</ol>

	</div><!-- /.row -->

</div><!-- /.container-fluid -->



